* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-conatiner {
  display: flex;
}

.sidebar-container {
  height: 100vh;
  background-color: rgb(109, 7, 63);
}

.logo-container {
  text-align: center;
}

.logo {
  color: white;
}

.logoCo{
  height: 35px;
  width: 35px;
  margin-top: 10px;
}

.hb-container {
  width: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgHB {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.page-container {
  width: 100vw;
}

.navbar-container {
  display: flex;
  height: 7%;
  background-color: white;
  border-bottom: 1px solid rgba(151, 149, 149, 0.5);
}

.ul-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-right: 2rem;
}

.li-items {
  color: blue;
}

.body-container {
  background-color: white;
  height: 93%;
}

/* ... other styles (commented out) ... */
